<div class="settings-popover-bg">
    <div class="settings-popover-form">
        <div>
            <h3 style="padding-right: 20px;">&nbsp;<img src="./images/logo_48x48.png">&nbsp;&nbsp;{{title}}<a href="#" ng-click="hidePopover()"><div class="settings-popover-close pull-right"><i class="fa fa-times"></i></div></a></h3>
            <hr>
        </div>
        <div style="padding-left: 20px; overflow-x: hidden;overflow-y: auto;" id="settingsContentView">
            <div class="container-fluid">
                <div class="row" ng-repeat="version in changelog.versions">
                    <div class="div col-lg-12">
                        <h4>Version {{version.version}} ({{version.releaseDate}})</h4>
                        <h5 class="text-muted">RELEASE NOTES</h5>
                        <ul>
                            <li ng-repeat="item in version.items" ng-bind-html="renderMarkdown(item)"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>